@import "./mixin.scss";

body {
  background-color: $outer-background-color;
}

#base-container {
  background-color: $base-background-color;
  padding: 0.5em 1em;

  @include respond-to("md") {
    max-width: $screen-md;
    margin: 1em auto;
    padding: 1em 2em;
    @include card(2);
    @include curve(3);
  }
}

#base-header {
  a {
    position: relative;
  }

  img {
    vertical-align: middle;
    margin-right: 5px;
  }

  span {
    position: relative;
    top: 2px;
  }
}

@keyframes webring-rotate360deg {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#webring {
  position: relative;
  top: 3px;

  img {
    animation: webring-rotate360deg 1000ms infinite ease-in-out;
  }
}

#netlify-status {
  position: relative;
  top: 5px;
}

#pagination {
  text-align: right;
}

.post-meta-content {
  background-color: $post-meta-content-background-color;
  padding: 0.5em;
  margin-top: 0.5em;
  @include curve(3);
}

.figure-img-srcset {
  text-align: center;

  img {
    height: auto;
    width: 100%;
    @include curve(3);

    @include respond-to("sm") {
      width: 66%;
    }

    @include respond-to("md") {
      width: 50%;
    }
  }
}

.youtube-lt {
  margin: 0 auto;
  position: relative;
  width: 100%;

  @include respond-to("md") {
    width: 50%;
  }

  .youtube-lt-placeholder-image {
    height: auto;
    width: 100%;
    @include curve(3);
  }

  .youtube-lt-play-button {
    position: absolute;
    width: 90px;
    height: 60px;
    background-color: dimgrey;
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .youtube-lt-play-button:before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent white;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .youtube-lt-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
    @include curve(3);
  }
}

#post-footer {
  display: flex;
  flex-direction: column;

  @include respond-to("md") {
    flex-direction: row-reverse;
  }
}

#disqus_thread {
  flex: 1;
  flex-basis: 0;
}

#related-content {
  flex: 1;
  flex-basis: 0;

  @include respond-to("md") {
    margin-left: 2em;
    padding-left: 0.5em;
    border-left: 1px solid $markdown-body-border-color;

    p {
      text-align: center;
      font-weight: bold;
    }
  }
}

// mod github markdown css
#base-container.markdown-body {
  color: $markdown-body-font-color;

  h1,
  h2 {
    font-weight: normal;
  }

  .text-align-center {
    text-align: center;
  }

  .border-bottom-0 {
    border-bottom: 0;
  }
}

hr.thin-line {
  height: 1px;
  color: $markdown-body-border-color;
}
