.body--zen-layout {
  $refWidth: 768px;

  max-width: $refWidth;
  margin: 0;
  padding: 0.75em;
  background-color: #fafbfc; 

  @media (min-width: ($refWidth - 1)) {
    margin: 1em auto;
    padding: 2em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
  }
}

@keyframes rotate360deg {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.webring--image {
  position: relative;
  top: 3px;
  animation-name: rotate360deg;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

// remove bluering on safari
.no-bluering:focus {
  outline: none;
}

.details--post-info {
  margin-top: 5px;
  background-color: #ffb95034;
  border-radius: 5px;
}
