{{/* do not change id */}}
<section id="disqus_thread">
  <span id="disqus_thread_loader">กำลังโหลดความคิดเห็น ..</span>
</section>
<script type="text/javascript">
  var disqus_config=function(){this.page.identifier="{{ .Page.File.UniqueID }}"},disqus_observer=new IntersectionObserver(function(e){var s,t;e[0].isIntersecting&&((s=document),((t=s.createElement("script")).async=!0),(t.src="//{{ .Site.DisqusShortname }}.disqus.com/embed.js"),t.setAttribute("data-timestamp",+new Date()),(s.head||s.body).appendChild(t),disqus_observer.disconnect())},{threshold:[0]});disqus_observer.observe(document.querySelector("#disqus_thread"))
</script>
