<details>
  <summary><time>{{ .Date.Format "2006-01-02 15:04" }}</time></summary>
  <p class="post-meta-content">
    💬
    <a
      href="{{ .RelPermalink }}#disqus_thread"
      data-disqus-identifier="{{ .Page.File.UniqueID }}"
      >ความคิดเห็น: 0</a
    >
    &nbsp; 🏷️
    {{ with .Params.categories }}
      {{ range . }}
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    {{ end }}

    {{ with .Params.tags }}
      &nbsp;
      {{ range . }}
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
      {{ end }}
    {{ end }}
  </p>
</details>
