{{ $href := .Get "href"}}
{{ $src := .Get "src"}}
{{ $width := .Get "width"}}
{{ $height := .Get "height"}}
{{ $srcset := .Get "srcset"}}
{{ $alt := .Get "alt"}}
{{ $caption := .Get "caption"}}
<figure style="text-align: center;">
  <a href="{{ $href }}">
    <style scoped>
      img.figure-img-srcset{height:auto;width:100%}@media screen and (min-width:512px){img.figure-img-srcset{width:50%}}@media screen and (min-width:768px){img.figure-img-srcset{width:33%}}
    </style>

    <img
      class="figure-img-srcset"
      loading="lazy"
      width="{{ $width }}"
      height="{{ $height }}"
      src="{{ $src }}"
      srcset="{{.Inner}}"
      alt="{{ $alt }}"/>
  </a>
  <figcaption>
    <p>{{ $caption }}</p>
  </figcaption>
</figure>
