{{ $href := .Get "href" }}
{{ $width := .Get "width" }}
{{ $height := .Get "height" }}
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}
<figure style="text-align: center">
  {{ with resources.Get "/sass/figure-img-srcset.scss" | toCSS | minify }}
    {{ (printf "<style scoped>%s</style>" (.Content | safeCSS)) | safeHTML }}
  {{ end }}


  <a href="{{ $href }}">
    {{/* <img
      class="figure-img-srcset"
      loading="lazy"
      width="{{ $width
    }}"
    height="{{ $height }}" src="{{ $src }}" srcset="{{ .Inner }}"
    alt="{{ $alt }}" /> */}}
    <picture>
      {{ range (split .Inner ",") }}
        {{ $source := (split . " ") }}
        {{ $srcset := index $source 0 }}
        {{ $media := index $source 1 }}
        <source
          srcset="{{ $srcset }}"
          media="(min-width: {{ replace $media "w" "px" }})"
        />
      {{ end }}
      <img
        class="figure-img-srcset"
        loading="lazy"
        width="{{ $width }}"
        height="{{ $height }}"
        src="{{ $src }}"
        alt="{{ $alt }}"
      />
    </picture>
  </a>
  <figcaption>
    <p>{{ $caption }}</p>
  </figcaption>
</figure>
