{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $height := .Get "height" }}
{{ $href := .Get "href" }}
{{ $src := .Get "src" }}
{{ $width := .Get "width" }}
<figure class="figure-img-srcset">
  <a href="{{ $href }}">
    {{/* old code, using srcset */}}
    {{/* <img loading="lazy" width="{{ $width }}" height="{{ $height }}"
    src="{{ $src }}" srcset="{{ .Inner }}" alt="{{ $alt }}" /> */}}
    {{/* new code using source */}}
    <picture>
      {{ range (split .Inner ",") }}
        {{ $source := (split . " ") }}
        {{ $srcset := index $source 0 }}
        {{ $media := index $source 1 }}
        <source
          srcset="{{ $srcset }}"
          media="(min-width: {{ replace $media "w" "px" }})"
        />
      {{ end }}
      <img
        loading="lazy"
        width="{{ $width }}"
        height="{{ $height }}"
        src="{{ $src }}"
        alt="{{ $alt }}"
      />
    </picture>
  </a>
  <figcaption>
    <p>{{ $caption }}</p>
  </figcaption>
</figure>
